@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
html{
    min-height: 100%;
    position: relative;
}

html{
    min-height: 100%;
    position: relative;
}

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

.header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.1)),url(../images/mentoring.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}
.header2{
    background-color: #132f45;
    width: 100%;
    height: 55px;
}

/* Header styles */
.banner-info{
    text-align: left;
    padding-top: 90px;
    margin-left: 10px;
    display: flex;
    color: #cce5ff;
    width: 100%;
}
.banner-info h1{
    width: 50%;
    padding-top: 100px;
    margin-right: 20px;
}
.nav-wrapper{
    padding: 10px;
    position:fixed;
    z-index: 1;
    width: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    white-space: nowrap;
}

.nav-wrapper2{
    padding: 10px;
    width: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.right-side{
    display: flex;
    text-align: right;
}
.brand{
    display: flex;
}

.brand a{
    margin-right: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #cce5ff;;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.nav-link-wrapper {
    border-bottom: 1px solid transparent;
    padding: 6px;
    transition: border-bottom 1s;
    
}
.nav-link-wrapper a{
    color: #ffffff;
    text-decoration: none;
    transition: color 0.5s;
    font-size: 1em;
    padding: 15px;
    cursor: pointer;
}
.nav-link-wrapper:hover{
    border-bottom: 1px solid white;
    
}

.nav-link-wrapper a:hover{
    color:#cce5ff;
}

.search{
    display: flex;
    height:auto;
    /* margin: auto; */
}

.search input{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color:#fff;
    border-color: #fff;
    background-color: transparent;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 5px;
    height: 25px;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    font-size: 1em !important;
}

.search button{
    margin-left: -1px;
    margin-right: -6px;
    background-color:transparent;
    color: #ffffff;;
    border-color: #fff;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-radius: 3px;
    cursor: pointer;
}
.search input:focus, textarea:focus {
    background-color:transparent;
    outline: none;
}


/* Signup form */
.container{
    height: 800px;
    background: black;
}
.showcase{
    background:#fff;    
    padding: 1rem;
}
.form{
    padding:5px;
    width: 40%;
    background: #669999;
    /* background-color:blue; */
    text-align: center;
    border: 2px solid #132f45;
    border-radius: 20px;
    margin-left: 200px;
    margin-right: 20px;
    margin-bottom: auto;
}
.form input{
    width: 70%;
}
.form button{
    width:50%;
}
.form2{
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    background: #cce5ff;
    width: 40%;
    border-radius: 10px 10px;
    box-shadow:0 5px 10px #132f45;
    text-align: center;
}
.form2 p{
    height: 36px;
    padding: 6px;
    font-size: 16px;
    color: #132f45;
    margin: auto;
}
.form2 label{
    color: #132f45;
}
.form2 button{
    margin: auto;
    margin-bottom: 20px;

}

input{
	width: 80%;
    background: #f1f1f1;
    height: 36px;
    padding: 6px;
    font-size: 16px;
    color: #555;
    border: 1px solid #132f45;
    border-radius: 3px;
}

textarea{
    width: 80%;
    background: #f1f1f1;
    font-size: 16px;
    color: #555;
    border: 1px solid #132f45;
    border-radius: 3px;
}

input:focus, textarea:focus {
    background-color: #ddd;
    outline: none;
  }

label{
    font-size: 16px;
    color: #fff;
    text-align: right;
    margin-bottom: 0;
    padding-top: 10px;
}
.buttons{
    text-align: center;
}

.button {
    background-color: #132f45;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
    border: none;
    border-radius: 3px;
}
button:hover {
    opacity:1;
}

form p{
    text-align: center;
    color: #ffff;
}

/* login modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin-top: 3rem;;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.label{
    margin: 9 48px 0 0;
    font-size: 26px;
    line-height: 79px;
    display: none;
}

.label{
    color: #ddd;
    font-size: 50px;
    padding: 20px;

}
#toggle{
    display: none;
}

/* Mentors  */
.mentors{
    margin:10px;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.mentor{
    background:#cce5ff;
    display: flex !important;
    flex-direction: column;
    flex: 0 0 auto;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    border-radius: 2px;
    width:220px;
    word-wrap: break-word;
    white-space: normal;
    scroll-snap-align: start;
    flex: 0 0 auto;
    margin:10px;
    font-size: 14px;
    cursor: pointer;
}
.avatar img{
    border-radius: 50%;
}
.mentor-header{
    display: flex;
    justify-content: space-between;
}
.student img {
    border-radius: 50%;
    max-width: 100%;
    float:right;
}
.info{
    padding: 0px 10px;
}
.info p{
    text-align: left;
}
.mentor .info a{
    color: transparent;
    transition: 1s;
    font-weight: 600;
}

.mentor:hover .info a{
    font-weight: 600;
    color: #132f45;
}

.img-darken{
    transition: 1s;
    filter: brightness(50%);
    
}
.name a{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.name{
  background-color: #132f45;
  padding:0;
  margin:0;
  color: #ffffff;
  
}

.career{ 
    background-color:blue;
    padding: 3px;
}

span{
    width: 100% !important;
    font-size: 12px;
    color: #ffffff;
}
/* Mentor-info */
.mentor-info{
    margin: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 3fr 1fr;
}
.mentor-info2{
    display:block;
    margin: 20px;
    margin-bottom: 60px;
}
.top{
    display: flex;
    flex-wrap: wrap;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),0 2px 3px rgba(0,0,0,.2);
    height: auto;
    margin-bottom: 10px;
}
.banner{
    background:#132f45;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 10px;
    color: #ffffff;
    
}

.banner h2{
    color: #ffffff;
    font-size: 2em;
}


.head{
    background: #cce5ff;
    width: 100%;
    padding: 10px;
    

}
.head button{
    width: 15%;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
}


.info-2{
    width: 100%;
    text-align-last:left;
    
   
}
.info-2 p{
    font-weight: 400;
    text-indent: 0px;
    text-align: left;
    padding-right: 10px;
}
.reviewer{
    display: flex;
    width: 100%;
    background: #cce5ff;
    padding: 10px;
    height: 80%;
}
.reviewer input{
    width: 80%; 
}
.reviewer button{
    margin-left: 5px;
}


/* Sessions */
.sessions2{
    background: #ffffff;
}
.sessions{
    background: #ffffff;
    display: flex;
    margin-top: 10px;
}
.pending{
    background: #cce5ff;
    color: #132f45;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),0 2px 3px rgba(0,0,0,.2);
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 100%;
}
.pending2{
    height: auto;
}

.accepted{
    background: #cce5ff;
    color: #132f45;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),0 2px 3px rgba(0,0,0,.2);
    padding: 0 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin-left:10px
}
.session{
    border-top: 1px solid #132f45;
    padding: 0px;
    border-radius: 2px;
    
}
.left-o {
    background:#cce5ff;
    display: inline-block;
}
.session button{
    float: right;
    width: 30%;
}

/* Review box */
.review{
    text-align: center;
    border-radius: 2px;
    background: #cce5ff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),0 2px 3px rgba(0,0,0,.2);
    padding: 10px 0;
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 20%;
}
.review textarea{
    width:auto;
}
.form3 textarea{
    margin-top: 20px;
    width: 90%;

}
.radio{
    display: flex;
    padding-right: 10px;
}
input[type=radio] {
    border: 0px;
    height: 1em;
    margin-right: 0;
}
.review button{
    width: 50%;
    display: block; 
    margin: 0 auto; 
}
.close {
    color: #132f45;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding-right: 10px;
  }
/* User requests */
.requests{
    height: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-right: inherit;
    border-radius: 2px;
    height: auto;
    margin-bottom: 10px;
    width: auto;
}

.banner2{
    height: auto;
}
.info-3{
    background: #cce5ff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 10px; */
}
.accept-decline{
    display: flex;
}
.accept-decline button{
    width: auto;
    margin-left: 5px;
    height: 40px;
}

/* Admin page */
.mentors-admin{
    flex-wrap: wrap;
    margin:auto;
    justify-content: space-between;
    margin-right: 0;
}

.search-2{
    width: 100%;
    justify-content: center;
    
    margin:0;
}
.search-2 input{
    color:#132f45;
    border-color: #132f45;
    background-color: #cce5ff;
    width: 95%;
    padding: 10px 0;
    margin: auto;
    margin-left: 0px;
    /* margin-right: -1px; */
}

.search-2 button{
    width: 10%;
    background-color:#132f45;
    color: #ffffff;
    margin-left:0px;
    margin-right:1px;
    border: none;
    border-radius: none;
}
.search-2 input:focus, textarea:focus {
    background-color:#cce5ff;
    outline: none;
}
.mentor2{
    font-size: 15px;
    margin-left:0px; 
    width: 30%;
    margin-right: 0px; 
}

.user-mentor{
    padding: 10px;
}
.user-mentor button{
    width: 100%;
    display: block; 
    margin: 0 auto;
}

/* Review delete */
.review-2{
    display: flex;
    padding: 0;
}
.review-2 p{
    text-indent: 0px;
    text-align: justify;
}
.left-b{
    padding-right: 5px;
}
.review-2 button{
    height: 10%;
}

.nav-wrapper .icon {
    display: none;
}
.nav-wrapper2 .icon {
    display: none;
}

.top-info{
    display: flex;
    justify-content: space-between;
}
.top-info a{
    text-decoration: none;
    color: white;
}
.comments{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 10px; */
    background: #fff;
    /* margin:auto; */
}
.comment{
    background: #cce5ff;
    margin: 50px;
    margin-top: 5px;
    padding: 10px;
    width: 70%;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),0 2px 3px rgba(0,0,0,.2);
}
.avatar2{
    text-align: center;
}

footer{
    background: #132f45;
}

/* update  info page */
.form3{
    margin:auto;
    height: 60%;
    margin-top: 50px;
    margin-bottom: 60px;

}
.form3 label{
    color: #132f45;
}
.form3 input{
    width: 80%;
}
.form3 textarea{
    width: 80%;
}
footer{
    height: 40px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 10px;
}
footer span{
    color: #fff;
    margin: auto;
    font-size: 15px;
    background: #132f45;
}
@media(max-width:900px){
    .banner-info{
        width: 100%;
        margin: 0px;
    }
    .banner-info h1{
        font-size:30px;
        width: 100%;
        padding: 10px 0;
        margin-right: 20px;
    }
    .form{
        margin-right: 20px;
        width: 100%;
        height: 100%;
    }
    .form input{
        width: 90%;
    }
    .form3 textarea{
        width: 90%;
    }
    .mentors{
        margin-top: 30px;
    }
    .header{
        height: 105vh;
    }
}

@media(max-width:768px){
    .banner-info{
        width: 100%;
        margin: 0px;
    }
    .banner-info h1{
        font-size:30px;
        width: 100%;
        padding: 10px 0;
        margin-right: 20px;
    }
    .form{
        margin-right: 20px;
        width: 100%;
        height: 100%;
    }
    .form input{
        width: 90%;
    }
    .form3 textarea{
        width: 90%;
    }
    .nav-wrapper{
        background: #132f45;
    }
    .mentors{
        margin-top: 250px;
    }
}

@media(max-width:700px){
    .nav-wrapper{
        display: block;
    }
    .nav-wrapper2{
        display: block;
        background: #132f45;
        position: relative;
        z-index: 1;
    }
    .right-side{
        display: none;
    }
    .nav-wrapper a.icon {
        display: block;
        position: absolute;
        right: 10px;
    }
    .nav-wrapper2 a.icon {
        display: block;
        position: absolute;
        right: 5px;
    }
    .right-side.responsive {
        position: relative;
        margin: inherit;
        padding: 0;
        right: 10px;
        width: auto;
    }
    .right-side.responsive .icon {
        display: block;
        position: absolute;
        right: 10px;
    }
    .right-side.responsive{
        float: none;
        display: block;
        text-align: left;
        box-shadow: 0 0 0 1px rgba(0,0,0,.15),0 2px 3px rgba(0,0,0,.2);
    }
    .form{
        display: block;
        /* padding-right: 30px;
        margin-right: 100px; */
    }
    .form input{
        width: 80%;
    } 

    .form{
        font-size:15px;
        width: 100%;
        margin:0px 10px;
        padding:0;
    }
    .button{
        width: auto;
        z-index: -1;
    }
    .form2{
        width: auto;
        margin: 100px 5px;;
    }
    /* .form2 input{
        width: 100%;
    } */
    .mentor-info{
        display:block;
    }
    .mentor-info2{
        display:block;
    }
    .mentors-admin{
        width:100%;
        margin:inherit;
        padding: inherit;
    }
    .mentor2{
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .requests{
        display: block;
    }
    .request-column{
        margin-top: 10px;
    }
    .reviewer{
        display: block;
    }
    .reviewer input{
        width: 90%; 
    }
    .sessions{
        display: block;
    }
    .accepted{
        margin-top: 20px;
        width: auto;
    }
    .review{
        width: 70%;
        margin:10px;
    }

    .banner-info{
        text-align: center;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 0px;
        color: #cce5ff;
    }
    .banner-info h1{
        font-size:20px;
        width: 100%;
        padding: 10px 0;
        margin-right: 20px;
    }

    .comments{
        display: flex;
        flex-wrap: wrap;

    }
    .right-side.responsive{
        background: #132f45;
    }
}


@media(max-width:500px){
    .banner-info h1{
        font-size:15px;
        width: 100%;
        padding: 10px 0;
        margin-right: 20px;
    }
    .mentor2{
        font-size: 14px;
        width: 70%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .form{
        font-size:14px;
        width: 100%;
        margin: 0px;
        padding:0;
        height: auto;
    }
    .mentors{
        margin-top: 60px;
    }
    .right-side.responsive{
        background: #132f45;
    }
    .form3 textarea{
        width: auto;
    }
}

@media(max-width:400px){
    .banner-info h1{
        font-size:15px;
        width: 100%;
        padding: 100px 0;
        margin-right: 20px;
    }
    .header{
        height:150vh;
    }
    .mentor2{
        font-size: 14px;
        width: 70%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .form{
        font-size:14px;
        width: 100%;
        margin: 0px;
        padding-top:10px;
        height: 40%;
    }
    .right-side.responsive{
        background: #132f45;
    }
    .form3{
        margin:auto;
        margin-bottom:60px;
    }
    .form3 textarea{
        width: auto;
    }
}